header {
  width: 100%;
  max-width: 1280px; 
  height: 100px;
  border-bottom: 1px solid #000;
  padding: 0 10px;
  display: flex; /* Por padrão é horizontal (row) */
  align-items: center;
  gap: 13px;
  margin: 0 auto; /* Centraliza o header na página */
}

.header-container {
  width: 100%;
  max-width: 1260px;
  height: 76px;
  display: flex;
  align-items: center;
  justify-content: space-between; 
  padding: 0 13px;
  margin: 0 auto; 
}

.header-left {
  display: flex;
  align-items: center;
  gap: 16px; /* Espaçamento entre logo e texto */
}

.header-left img {
  width: 48px;
  height: 40px;
  padding-left: 4px;
  padding-right: 4px;
}

.header-center {
  flex: vertical; 
  display: flex;
  align-items: center;
  gap: 16px; 
  font-family: 'Lexend', sans-serif;
  font-size: 36px;
  font-weight: 700;
  letter-spacing: 0;
  color: #A08963;
}

.header-right {
  display: flex;
  align-items: center;
  gap: 16px; /* Espaçamento entre os links */
}


main {
  width: 100%;
  max-width: 1280px;
  padding-bottom: 100px;
  display: flex; 
  flex-direction: column; 
  gap: 24px;
  margin: 0 auto; 
}




footer {
  width: 100%;
  max-height: 74px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 22px 0; 
  margin: 0 auto; 
  background-color: #A08963; 
}

.footer-container {
  width: 100%;
  max-width: 1260px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 37px;
  margin: 0 auto;
}

.footer-left {
  display: flex;
  align-items: center;
  gap: 16px;  /* Espaçamento entre logo e texto */
}

.footer-left img {
  width: 24px; 
  height: 24px; 
}

.footer-left span {
  font-family: 'Lexend', sans-serif;
  font-size: 24px; 
  font-weight: 900;
  letter-spacing: 0;
  height: 30px;
  color: #FFFFFF; 
  margin: 0; 
}

.footer-right {
  font-family:'Lexend', sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #FFFFFF;
  line-height: 1;
  letter-spacing: 0;
}